@model IEnumerable<projekt.Models.Fish>

@{
    ViewData["Title"] = "Index";
}

<h1>Dodaj Rybę</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data_z)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rozmiar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbiornik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zbiornik.Okreg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_z)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waga)kg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rozmiar)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek.Gatuenk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zbiornik.nazwa)
            </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Zbiornik.Okreg.nazwa)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
